### Import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,recall_score,classification_report
import matplotlib.pyplot as plt

### Load dataset

In [2]:
df = pd.read_csv("C:/Users/shruti/Desktop/Air pollution dataset/city air pollution data.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
0,Ahmedabad,01-01-2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00
1,Ahmedabad,02-01-2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77
2,Ahmedabad,03-01-2015,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25
3,Ahmedabad,04-01-2015,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00
4,Ahmedabad,05-01-2015,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78

 Preprocessing

In [3]:
df.dropna(axis=0,inplace=True)
df.drop_duplicates(inplace=True)
df.shape

(6351, 14)

In [4]:
df.isnull().sum()

City       0
Date       0
PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
Xylene     0
dtype: int64

In [5]:
df['PM2.5'] = df['PM10'].apply(lambda x: x * 0.75 - 1.72 )
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
2122,Amaravati,24-11-2017,85.0925,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10
2123,Amaravati,25-11-2017,91.6550,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06
2124,Amaravati,26-11-2017,95.0750,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08
2125,Amaravati,27-11-2017,99.7700,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12
2126,Amaravati,28-11-2017,76.3475,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07

In [6]:
df['Pollution'] = df['PM2.5'].apply(lambda x: 1 if x>115 else 0)
df.to_csv('C:/Users/shruti/Desktop/Air pollution dataset/Airpolutifinaldataset.csv')

In [7]:
df.head(100)
df.to_csv('C:/Users/shruti/Desktop/Air pollution dataset/preprocessed.csv',index=False)

In [8]:
df['Pollution'].value_counts()

0    4876
1    1475
Name: Pollution, dtype: int64

In [9]:
df['City'].value_counts()

Hyderabad        1633
Delhi            1224
Visakhapatnam    1184
Amaravati         667
Amritsar          660
Kolkata           394
Chandigarh        279
Patna             191
Gurugram          119
Name: City, dtype: int64

### Encoding variables

In [10]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
df['City']= le.fit_transform(df['City'])

In [11]:
le2 = LabelEncoder() 
df['Date']= le.fit_transform(df['Date'])

In [12]:
X = df.drop(['Pollution','PM2.5'],axis=1)
y = df['Pollution']

In [13]:
X.head()

,City,Date,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
2122,0,1444,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10
2123,0,1505,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06
2124,0,1565,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08
2125,0,1625,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12
2126,0,1685,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07

In [14]:
y.head()

2122    0
2123    0
2124    0
2125    0
2126    0
Name: Pollution, dtype: int64

### Splitting dataset

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
pred=clf.predict(X_test)

In [22]:
X_train.head()

,City,Date,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
11822,3,751,351.28,19.85,50.88,44.98,36.48,1.51,33.50,67.84,4.40,24.54,0.45
15564,5,767,36.34,8.63,17.06,7.56,6.10,0.07,5.03,30.88,0.49,3.46,0.72
2630,0,929,81.59,2.19,20.61,12.25,4.81,0.65,22.54,20.53,0.67,2.07,0.21
14899,5,1078,92.72,8.21,6.58,11.61,5.94,0.84,9.58,30.33,0.97,5.09,1.10
2628,0,807,50.12,1.12,6.04,4.03,3.86,0.36,14.45,28.78,0.62,1.37,0.14

### Test accuracy

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.8892969569779643

### Train accuracy

In [19]:
accuracy_score(y_train,clf.predict(X_train))

0.9077615298087739

### Predictions

In [23]:
mypred=[3,751,351.28,9.85,0.88,44.98,36.48,1.51,33.50,67.84,4.40,24.54,0.45]

In [26]:
res=clf.predict([mypred])
if res[0]==1:
    print('High Pollution')
else:
    print('Low Pollution')

High Pollution